
h3{
    color: red;
    font-family: Cambria;
}

.form-layout
{
    border-radius: 10px;
    width: 500px;
    margin-top: 20px;
}

.message-text{
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }