<!DOCTYPE html>

{% load static %} <!-- to integrate all static files -->

{% load crispy_forms_tags %}

<html>

    <head>

        <title> ToDo - Login </title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    </head>

    <body>
        
        {% include 'pre-base.html' %} <!--  This is a tag: inheriting from base.html -->
        
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            
            <h2>Login here!!!</h2>

            <hr>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br> <br>

                {{form.password|as_crispy_field}}

                <br> <br>
 
                <input class="btn btn-primary navbar-btn" type="submit" value="Login"/>

                <br> <br>

                {% for message in messages %}

                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                       <p id="message-timer" class="alert alert-primary float-center text-center message-text" > 
                            <i class="fa fa-check-square-o"  aria-hidden="true" style="font-size: 20px;"></i> &nbsp; {{message}}
                        </p> 

                    {% endif %}

                {% endfor %}

                <br>

                <p> Don't have an account? <a href="{% url 'register' %}"> Register here </a> </p>
            </form>
        </div>
    </body>

   <script src="{% static 'js/apps.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">

    </script>

    

</html>